<li class='card' data-id='{{crmID}}' data-card-name='{{crmText}}'>
	<header class='badges'>
		{{#each badges}}
			<p class='badge'>{{this}}</p>
		{{/each}}
	</header>
	<img src={{image}} alt='card-1' />
	<div class='card-content'>
		<h3>{{{title}}}</h3>
		<p class='card-description'>{{{description}}}</p>
		<ul class='card-tag-list'>
			{{#each tags}}
				<li class='card-tag'>{{this}}</li>
			{{/each}}
		</ul>
		<div id='space'></div>
		<div class='card-actions'>
			{{#if href}}

				<a
					href='{{href}}'
					target='_blank'
					class='button-primary card-button'
					onclick="_tmr.push({ type: 'reachGoal', id: 3495983, goal: 'click_on_applicat_quest_cb_consult_ord_er_buttonk'});ym(53115394, 'reachGoal', 'click_on_applicat_quest_cb_consult_ord_er_buttonk', {site: '{{site}}', URL: document.location.href, goal: 'click_on_applicat_quest_cb_consult_ord_er_buttonk'}); return true;"
				>Подробнее</a>

			{{/if}}
			<a
				href='#consultation-form'
				class='button-secondary card-button get-consultation'
				onclick="_tmr.push({ type: 'reachGoal', id: 3495983, goal: 'click_on_applicat_quest_cb_consult_ord_er_buttonk'});ym(53115394, 'reachGoal', 'click_on_applicat_quest_cb_consult_ord_er_buttonk', {location_click: 'main_banner', URL: document.location.href, goal: 'click_on_applicat_quest_cb_consult_ord_er_buttonk'}); return true;"
			>Получить консультацию</a>
		</div>
	</div>
</li>
